---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: #000000;
$primary-color: #777;

/* system typefaces */
$sans-serif: proxima-nova, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

$header-font-family: futura-pt, sans-serif;

$type-size-1: 2.441em; // ~39.056px
$type-size-2: 1.953em; // ~31.248px
$type-size-3: 1.563em; // ~25.008px
$type-size-4: 1.25em; // ~20px
$type-size-5: 1em;//1em; // ~16px
$type-size-6: 1em; // ~12px
$type-size-7: 1em; // ~11px
$type-size-8: 0.6875em; // ~10px

$twitter-color: $link-color;
$github-color: $link-color;

@import url("https://use.typekit.net/ero0dbd.css"); // Adobe Fonts
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2em 0 0.5em;
  line-height: 1.2;
  font-family: $header-font-family;
  font-weight: 700;
  font-style: normal;
  color: $link-color;
}

h1 {
  margin-top: 0;
  font-size: $type-size-3;
}

h2 {
  font-size: $type-size-4;
}

h3 {
  font-size: $type-size-5;
}

h4 {
  font-size: $type-size-6;
}

h5 {
  font-size: $type-size-6;
}

h6 {
  font-size: $type-size-6;
}

.archive__subtitle {
  font-size: $type-size-4;
}

a {
  text-decoration: none;
  font-weight: 500;
}

.archive__item a:not(.btn) {
  &:hover {
    text-decoration: underline;

    img {
      box-shadow: 0 0 10px rgba(#000, 0.25);
    }
  }
}

address {
  font-size: $type-size-5;
  font-style: normal;
}

.author__avatar {
  img {
    max-width: 178px;

    @include breakpoint($large) {
      padding: 0px;
      border: 1px solid #efefef;
    }
  }
}

.sidebar {
  @include breakpoint($large) {
    opacity: 1.0;
  }
}

body {
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 400;
  font-style: normal;
  color: $primary-color;
}

.site-title {
  font-weight: 500;
  font-size: 2.14em;
}

.masthead__menu {
  font-family: $header-font-family;
  weight: 700;
  float: left;
  text-transform: uppercase;
  font-size: 1em;
}

table {
  display: table;
  th {
    color: $link-color;
  }
}

.greedy-nav {
  .visible-links {
    justify-content: left;
  }
}

.author__urls {
  color: $link-color;
}
